.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.slots {
  font-size: 12px;
  opacity: 0.8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.slot {
  padding: 10px;

  border-radius: 6px;
  border: 1px solid var(--bg-dark-3);
  background: var(--bg-dark);
  color: var(--text);

  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 4px;

  min-height: 60px;
}

.slot:hover {
  filter: brightness(1.2);
}

.itemName {
  font-size: 12px;
  letter-spacing: 1px;
}

.amount {
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 2px;
}

.emptySlot {
  min-height: 60px;

  border-radius: 6px;
  border: 1px dashed var(--bg-dark-3);
  opacity: 0.4;
}