.wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 1000;
  cursor: progress;
  pointer-events: none;
}

.wrapper.clickable {
  cursor: pointer;
  pointer-events: all;
}

.leftPanel,
.rightPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: transform 350ms cubic-bezier(0.76, 0, 0.24, 1);
}

.leftPanel {
  left: 0;
  background: var(--bg-dark-2);
  clip-path: polygon(
    0 0,
    100% 0,
    86% 38%,
    39% 38%,
    76% 62%,
    62% 100%,
    100% 80%,
    100% 100%,
    0 100%
  );
  z-index: 1;
}

.rightPanel {
  right: 0;
  width: calc(50% + 10px);
  background: var(--bg-dark-3);
  clip-path: polygon(
    0 0,
    14% 38%,
    61% 38%,
    24% 62%,
    38% 100%,
    0 80%,
    0 100%,
    100% 100%,
    100% 0
  );
  z-index: 2;
}

.leftPanel.hide {
  transform: translateX(-100%);
}

.leftPanel.show {
  transform: translateX(0);
}

.rightPanel.hide {
  transform: translateX(100%);
}

.rightPanel.show {
  transform: translateX(0);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.text {
  /* position: absolute; */
  /* inset: 0; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(1.05);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.text span {
  color: var(--text);
  text-shadow: var(--bg-dark-1);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 10px;
  white-space: nowrap;
  text-shadow: 0 0 3px var(--text);

}

.text.show {
  opacity: 1;
  transform: scale(1);
}

.text.hide {
  opacity: 0;
  transform: scale(1.05);
}

.continue {
  /* position: absolute; */
  /* inset: 0; */
  
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(1.05);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.continue span {
  color: var(--text);
  text-shadow: var(--bg-dark-1);
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 10px;
  white-space: nowrap;
  text-shadow: 0 0 3px var(--text);
  text-transform: uppercase;
  animation: infinite 1s blinkSlow;
}

@keyframes blinkSlow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.continue.show {
  opacity: 1;
  transform: scale(1);
}

.continue.hide {
  opacity: 0;
  transform: scale(1.05);
}