.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {
  letter-spacing: 2px;
  /* font-size: 1.2em; */
}

.label {
  font-size: 0.85rem;
}

.bars {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 10%;
  margin-right: 10%;

}

.bar {
  width: 100%;
}

.action:hover {
  transform: rotate(90deg);
}

.action {
  color: var(--text);
  background-color: var(--bg-dark-4);
  border: unset;
  cursor: pointer;
  font-size: 1.2rem;
}

.rotate {
  transition: transform 1s ease;
}