.tavern-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 14px;
  font-size: 0.8em;

  background: var(--bg-dark);
}

.tavern-item {
  cursor: pointer;
  color: var(--text);
  background: var(--bg-dark-2);
  padding: 7px;
  min-height: 350px;
  height: fit-content;
  width: 300px;
  border: outset 2px;
  border-radius: 3px;
}

.tavern-item:hover {
  filter: brightness(1.1);
}

.tavern-item-title {
  text-align: center;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 7px;
}

.tavern-item-description {
  padding: 7px;
  font-size: 0.85em;
  letter-spacing: 1px;
  text-align: center;
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  transition: all 0.2s;
}

.tavern-item-description:hover {
  filter: brightness(1.1);
}

.tavern-item-info {
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 7px;
  margin-top: 1px;
  border-radius: 6px;
  background: rgb(255 255 255 / 0.03);
  text-align: center;
  transition: all 0.2s;
}

.tavern-item-info:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.tavern-item-actions {

}

@media (max-width: 768px) {
  .tavern-item {
    width: 100%;
    margin-top: 4px;
  }
  .tavern-item-list {
    display: block;
  }
}