.wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputSection {
  padding: 0.5rem;
  border: solid var(--bg-dark-3) 1px;
  border-radius: var(--input-radius);
}

.description {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}