.wrapper {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 15vh; /* pushes content upward */

  background: var(--bg-dark-1);

  opacity: 0;
  pointer-events: none;

  z-index: 9999;
  transition: opacity 500ms ease;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.hide {
  opacity: 0;
}

.container {
  max-width: 800px;
  padding: 20px;

  text-align: center;

  color: var(--text);
  font-size: 1.2rem;
}

.continueWrapper {
  margin-top: 1rem;
}

.continue {
  display: flex;
  letter-spacing: 2px;
  justify-content: space-between;
  gap: 1rem;

  font-size: 0.75rem;
  text-transform: uppercase;
  background: var(--bg-dark-3);
  cursor: pointer;
  padding: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;

  opacity: 0;
  transition: opacity 1s, background 0.5s;
}

.wrapper.interactive {
  background: var(--cool-bg);
}

.continue.show {
  border-radius: 8px;
  opacity: 1;
  transition: opacity 1s;
  transition: background 0.5s
}

.continue.show:hover {
  background: var(--bg-dark-2);
  transition: background 0.5s
}
