.card {
  display: flex;
  flex-direction: column;

  height: 100%;

  gap: 10px; /* uniform spacing between all children */

  font-size: 1em;
  margin-top: 5px;
}

.items {
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
 width: 100%;
 letter-spacing: 1px;
}

.title {
  color: var(--text);
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.label {
  font-size: 0.8em;
  text-align: center;
  opacity: .6;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 15px;
  align-content: center;
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.actions {
  margin-top: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.action {
  display: flex;

  cursor: pointer;
  transition: transform 0.12s ease, background 0.15s ease, border 0.15s ease;

  color: var(--text);

  box-sizing: border-box;

  text-align: center;
  opacity: 1;
  pointer-events: all;
  width: 100%;
  height: 100%;
}

.actionLocked {
  display: flex;

  cursor: pointer;
  transition: transform 0.12s ease, background 0.15s ease, border 0.15s ease;

  color: var(--text);

  box-sizing: border-box;

  text-align: center;
  pointer-events: all;
  opacity: .5;
  pointer-events: none;
  width: 100%;
}

.action button {
  width: 100%;

}

.actionLocked button {
  width: 100%;
}


.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: var(--gold);

  border-radius: 1px;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
}