.wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 15px;
  align-items: center;

  padding: 12px 15px;

  background-color: var(--bg-dark-3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  transition: background-color 150ms ease;
}

.wrapper:hover {
  background-color: var(--bg-dark-4);
}

.title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.level {
  font-size: 0.8rem;
  opacity: 0.75;
  text-transform: uppercase;
  white-space: nowrap;
}

.levelValue {
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.action {
  color: var(--text);
  background-color: transparent;
  border: unset;

  cursor: pointer;
  font-size: 1rem;

  padding: 4px;

  transition: transform 100ms ease;
}

.action:hover {
  transform: scale(1.15);
}