.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.header {
  color: gold;
}

.text {
  color: var(--text);
  opacity: 0.8;
}