.detail-wrapper {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-bottom: solid 1px rgba(255, 255, 255, 0.192);
}

.detail-description {
  opacity: 0.8;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.detail-rows {
  margin-left: 10px;
  margin-right: 10px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-field-name {
  opacity: 0.8;
}

.detail-field-value {
  font-size: 0.8em;
  width: 200px;
  text-align: right;
}

.detail-header {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  filter: brightness(1);
  background-color: var(--bg-dark-1);
  transition: background-color .25s ease-in, filter .25s ease-in;
}

.detail-header:hover {
  filter: brightness(1.2);
  background-color: var(--bg-dark-2);
  transition: background-color .25s ease-in, filter .25s ease-in;
}
