.event-history-list-wrapper {
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
  max-height: 1000px;
  overflow-y: auto;
}

.event-history-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.event-history-list-title {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  filter: brightness(1);
  background-color: var(--bg-dark-1);
  transition: background-color .25s ease-in, filter .25s ease-in;
}

.event-history-list-title:hover {
  filter: brightness(1.2);
  background-color: var(--bg-dark-2);
  transition: background-color .25s ease-in, filter .25s ease-in;
}

.event-history-list-item-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 140px;

  align-items: center;

  padding: 8px 10px;

}

.event-history-list-item-title {
  font-weight: 500;
  overflow-wrap: anywhere;
  text-transform: uppercase;
  letter-spacing: 3px;
  min-width: 250px;
}

.event-history-list-item-description {
  overflow-wrap: anywhere;
}

.event-history-list-item-date {
  text-align: right;
  white-space: nowrap;
  opacity: 0.75;
  font-size: 12px;
}

@media (max-width: 700px) {
  .event-history-list-title {
    display: none;
  }

  .event-history-list-item-wrapper {
    grid-template-columns: 1fr;
    gap: 4px;
  }

  .event-history-list-item-date {
    text-align: left;
  }
}