.game-panel-wrapper {
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg-dark-1-opaque);
  border-radius: 5px;

}

.game-panel {
  opacity: 0;
  transition: opacity .5s ease-out;
  
}

.game-panel.show {
  opacity: 1;
  
  transition: opacity .5s ease-in;
}

.game-panel-title {
  position: sticky;
  top: 0;
  z-index: 99999;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: solid 1px var(--bg-dark-3);
  background-color: var(--bg-dark-1);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  margin-bottom: 5px;
  filter: brightness(1);
  transition: background-color .25s ease-in, filter .25s ease-in;
}

.game-panel-title:hover {
  filter: brightness(1.2);
  background-color: var(--bg-dark-2);
  transition: background-color .25s ease-in, filter .25s ease-in;
}

.game-panel-title-main {
  letter-spacing: 3px;
}

.game-panel-title-current-screen {
  font-size: 1em;
  letter-spacing: 2px;
}


.game-panel-title-back-button button {
  border-color: var(--gold);
}

.game-panel-children {
  margin-bottom: 10px;
}
