:root {
  --bg-dark-1: #111111; 
  --bg-dark-1-opaque: #111111ee; 
  --bg-dark-2: #202020;
  --bg-dark-3: #424242;
  --green-dark: #225622;
  --text: #e6e2d3;
  --text-opaque: #e6e2d38c;
  --gold: rgb(207, 176, 0);
  --gold-opaque: rgba(207, 176, 0, 0.322);

  --danger: #8b1e1e;
  --danger-light: #f02828;
  
  --success: #1e8119;
  --green-success-2: #39eb2f;
  --danger-opaque: #8b1e1e34;
  --red: #580707;
  --orange-dark: rgb(171, 111, 0);
  --text-dark: #212121;
  --line-opaque: #d7e6d300;
  --input-text: #e6e2d3;
  --label: rgba(0, 0, 0, 0.747);
  --label-dark: rgba(170, 170, 170, 0.747);
  --border: var(--bg-dark-1);
  --blue-sd-lighter-2: #7cb9fc;
  --blue-sd-lighter: #3b95f5;
  --blue-sd-light: #3484d8;
  --blue-sd: #2a71bc;
  --blue-sd-dark: #1e3a8a;
  --blue-sd-darker: #152654;
  --scroll: radial-gradient(circle at center,
      var(--text) 5%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--bg-dark-3),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      var(--bg-dark-2),
      transparent 40%
    ),
    linear-gradient(135deg, var(--bg-dark-1), var(--bg-dark-1));
  --scroll-hover: radial-gradient(circle at center,
      var(--text) 0%,
      var(--text) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-dark),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      rgba(255, 215, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(135deg, var(--blue-sd-light), var(--blue-sd-dark));
  --cool-bg: radial-gradient(circle at center,
      var(--text) 0%,
      var(--text) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-success-2),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      var(--green-success-2),
      transparent 40%
    ),
    linear-gradient(135deg, var(--blue-sd-light), var(--blue-sd-dark));
  --cool-bg-2: radial-gradient(circle at center,
      var(--text) 0%,
      var(--text) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-dark),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      rgba(255, 215, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(135deg, #3b82f6, #1e3a8a);
  --dark-text-shadow: 
  0 0 1px var(--bg-dark-1)
  ,0 0 2px var(--bg-dark-1)
  ,0 0 2px var(--bg-dark-1)
  ,0 0 2px var(--bg-dark-1)
  ,0 0 1px var(--bg-dark-1);
  --bright-text-shadow: 
  0 0 1px var(--text)
  ,0 0 2px var(--text)
  ,0 0 2px var(--text)
  ,0 0 2px var(--text)
  ,0 0 1px var(--text);
  --gold-text-shadow: 
  0 0 1px gold
  ,0 0 1px gold
  ,0 0 2px gold
  ,0 0 2px gold
  ,0 0 2px gold
  ,0 0 1px gold
  ,0 0 1px gold;
}

html, body, #root {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  width: 100%;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  background: var(--bg-dark-1);
  color: var(--text);

  overflow-x: hidden;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;  
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);

  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

