.tutorial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  padding: 12px;
  font-size: 14px;
}

.title {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}

.subtitle {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 0.8em;
  opacity: .8;
  padding: 10px;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;


  padding: 10px;

  height: 46px;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  font-size: 13px;
  letter-spacing: 2px;
  justify-content: space-between;
}

.itemTitle {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
  min-width: 50%;
}

.items {
  width: 100%;
}


.rewardGroup {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px;
}