@import './animations.css';
@import './ui.css';
@import './screens.css';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --bg-dark: #1b1b1b;
}

body {
  font-family: "Montserrat", sans-serif;
}
