.radial-container {
  position: absolute;
  bottom: 40px;
  right: 60px;

  width: 220px;
  height: 220px;
}

.radial-center {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;

  border-radius: 50%;
}

.radial-node {
  position: absolute;

  left: 50%;
  top: 50%;
}

.radial-item {
  width: 70px;
  height: 70px;

  border-radius: 20%;
}

.level-2 {
  transform: scale(0.9);
}

.level-3 {
  transform: scale(0.8);
}