.groupList {

}

.groupListHeader {
  background: var(--cool-bg);
  /* padding: 15px; */
  text-align: center;
  color: var(--bg-dark);
  font-size: 1.3em;
  /* text-shadow: var(--gold-outline); */
}

.questList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  align-items: stretch;
  padding: 10px;
}