.shoppe-module{
  overflow-y: auto;
  /* height: 80vh; */
}

.shoppe-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-start;
  overflow-x: auto;
  padding: 7px;
  
  background-color: var(--bg-dark-2);
  border-radius: 3px;


  /* optional nicer scrolling */
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: opacity 1s;
}

.shoppe-item-list.open {
  opacity: 1;
}

.shoppe-item-type-group-title {
  font-size: 1.1em;
  padding: 5px;
  background: var(--bg-dark);
  color: var(--text);
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}

.shoppe-item-type-group-title-sub {
  font-size: 0.8em;
  padding: 5px;
  background: var(--bg-dark);
  color: var(--text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  
}

.shoppe-inventory {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background: var(--bg-dark);
}

.shoppe-item {
  width: 250px;
  height: fit-content;
  min-height: 250px;
  cursor: pointer;
  border: inset 1px var(--bg-dark);
  box-shadow: 0 0 5px var(--bg-dark-2);
  padding: 7px;
  background: var(--bg-dark);
  color: var(--text);
  font-size: 0.8em;
  gap: 3px;
  /* display: flex; */
  flex-direction: column;
  opacity: 0;
  display: none;
  transition: opacity 1s;
}

.shoppe-item.open {
  opacity: 1;
  display: flex;
}

.shoppe-item-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.shoppe-item:hover {
  border: solid 1px gold !important;
}

.shoppe-item.cant {
  opacity: 80%;
}


.shoppe-item-name {
  font-size: 1em;
  padding: 5px;
  background: var(--bg-dark);
  border-radius: 3px;
  color: gold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.shoppe-item-description {
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  letter-spacing: 1px;
  font-size: 0.7em;
  padding: 5px;
  text-align: center;
}

.shoppe-item-gold {
  font-size: 0.8em;
  color: gold;
  padding: 5px;
}

.shoppe-item-amount {
  font-size: 0.8em;
}


.shoppe-item-info {
  color: var(--text);
  font-size: 0.8em;
  padding: 5px;
  margin-top: 3px;
  border-radius: 6px;
  background: rgb(255 255 255 / 0.03);
  text-align: center;
  transition: all 0.2s;
  min-width: fit-content;
  letter-spacing: 1px;
}

.shoppe-item-info.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.shoppe-item-info.small {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.shoppe-item-info.profession {
  color: gold;
  letter-spacing: 2px;
}

.shoppe-item-info.add {
  padding: 7px;
  background-color: var(--gold-dark);
  border: solid 1px var(--text);
  color: var(--bg-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.shoppe-item-info.zero {
  padding: 7px;
  background-color: var(--bg-dark);
  color: var(--text);
  border: solid 1px var(--text);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.shoppe-item-info:hover {
  filter: brightness(2);
}

.shoppe-cart-empty {
  opacity: 0;
  display: none;
  transition: opacity 1s;
  border-radius: 3px;
  margin: 5px;
}

.shoppe-cart-empty.open{
  display: block;
  opacity: 1;
  
}

.shoppe-item-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 2px;
}

.shoppe-item-sub-title {
  font-size: 0.9em;
  text-align: center;
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: gold;
}

.shoppe-item-list-wrapper {
  position: relative;
}

.shoppe-scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 990;

  width: 34px;
  height: 70px;

  border: none;
  border-radius: 6px;

  background: rgba(0, 0, 0, 0.65);
  color: white;

  cursor: pointer;

  font-size: 1.5rem;

  transition: 0.15s;
}

.shoppe-scroll-button:hover {
  transform: translateY(-50%) scale(1.05);
}

.shoppe-scroll-button.left {
  left: 0;
}

.shoppe-scroll-button.right {
  right: 0;
}

.shoppe-cart-sticky {
  position: sticky;
  top: 0;

  z-index: 50;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  padding: 8px;

  background: var(--bg-dark);
  border-bottom: 1px solid var(--text);
}

.shoppe-cart-sticky-info {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 0.65em;
}

.shoppe-cart-sticky-actions {
  display: flex;
  gap: 8px;
}

.shoppe-cart-sticky-actions button {
  width: 80px;
  font-size: 10px;
}

@media (max-width: 768px) {
  .shoppe-item {
    width: 95vw;

  }
  .shoppe-item.cart {
    width: 100%;
    min-height: fit-content;
    
  }
  .shoppe-cart-sticky-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .shoppe-cart-sticky-actions button {
    width: 100%;
  }
  .shoppe-item-type-group-title  {
    font-size: 0.8em;
  }
  .shoppe-item-type-group-title-sub  {
    font-size: 0.7em;
  }
  .shoppe-item-list::-webkit-scrollbar {
    display: none;
  }

  .shoppe-item-list {
    scrollbar-width: none;
    
    grid-template-columns: 1fr;

    display: flex;
    flex-wrap: nowrap;

    gap: 0.6rem;
    align-items: flex-start;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 7px;

    background-color: var(--bg-dark-2);
    border-radius: 3px;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    cursor: pointer;
    user-select: none;
  }

  .shoppe-item-list > * {
    flex: 0 0 340px;
  }
}