.header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  padding-top: 5px;
  text-transform: uppercase;
}

.title {
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.progress {
  padding-top: 5px;
  
}
