.section {
  padding: 0.5rem;
  background: var(--bg-dark-2);
  border: solid var(--bg-dark-3) 1px;
  border-radius: var(--input-radius);
}

.section.clickable {
  cursor: pointer;
}

.section:hover {
  border: solid var(--bg-dark-4) 1px;
}

.section-label-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 5px;
}

.section-label {
  font-size: 0.6rem;
  opacity: 0.8;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section.col2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
