.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  padding: 12px;
  font-size: 14px;
  
}

.title {
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-dark-2);
  padding: 5px;
  width: 100%;
}

.subtitle {
  font-weight: 400;
  padding: 3px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-dark-2);
}

.description {
  font-size: 0.9em;
  opacity: .8;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}

.section {
  width: 100%;
}

.action {
  color: var(--text);
  background-color: var(--bg-dark-3);
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding: 15px;
}