.sections {
  padding: 5px;
  pointer-events: all;
  opacity: 1;
  transition: opactity 0.5s;
}

.sectionsLocked {
  padding: 5px;
  pointer-events: none;
  opacity: .5;
  transition: opactity 0.5s;
}

.section {
  padding: 5px;
}

.sectionHeader {
  color: var(--text);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 3px;
  justify-content: center;
  align-content: center;
}

.sectionLabel {
  font-size: 0.9em;
  padding: 5px;
}