.record {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: inherit;
  padding: 5px;
  margin-bottom: 5px;
  gap: 5px;
}

.record:hover {
  background: var(--bg-dark);
  transform: translateY(-2px);
  border-color: var(--bg-dark);
}

.name {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.1;
}

.meta {
  font-size: 11px;
  opacity: 0.7;
}

.buttons {
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.buttons button {
  flex: 1;
  font-size: 11px;
  padding: 6px 8px;
}

.header {
  display: flex;
  /* flex-wrap: nowrap; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.stretch {
  width: 100%;
  
}