.wrapper {
  height: 100%;
  overflow-y: auto;
  border-radius: 5px;
  background-color: var(--bg-dark-1-opaque);
  transform: translateY(-150%);

  opacity: 0;
  transition: opacity 200ms ease, transform 200ms ease-out;
}

.wrapper.in {
  opacity: 1;
  transform: translateY(0);
}

.wrapper.show {
  opacity: 1;
  transform: translateY(0%);
}

.wrapper.out {
  transform: translateY(150%);
}