.character-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: var(--bg-dark-3);
  color: var(--text);
  padding: 4px;
  box-shadow: 0 2px 5px #0000001a;
  font-size: 1.3em;
  cursor: pointer;
}

.character-bar-item {
  font-size: 0.7em;
}