.record {
  display: flex;
  flex-direction: column;

  gap: 8px;

  padding: 10px;
  border-radius: 3px;

  background: var(--bg-dark);
  border: 1px solid var(--bg-dark-2);

  cursor: pointer;
  transition: transform 0.12s ease, background 0.15s ease, border 0.15s ease;

  color: var(--text);

  box-sizing: border-box;

  overflow: hidden;
  min-width: fit-content;
}

.record:hover {
  filter: brightness(1.2);
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.slots {
  font-size: 12px;
  opacity: 0.8;
}