.button-action-list {
  display: grid;
  grid-template-columns: auto;
}

.button-action-list.col2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.button-action-list.col3 {
  grid-template-columns:  repeat(3, minmax(0, 1fr));
}

@media (max-width: 600px) {
  .button-action-list {
    gap: 0.20rem;
  }
  .button-action-list.col2 {
    grid-template-columns: auto;
  }

  .button-action-list.col3 {
    grid-template-columns: auto;
  }
}

.button-action {
  all: unset;
  text-align: center;
  padding: 2px;
  font-weight: 200;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  border: solid var(--bg-dark-3) 1px;
  background-color: var(--bg-dark-2);
  color: var(--text);
  text-shadow: 0 0 3px var(--text),
  0 0 3px var(--text),
  0 0 3px var(--text);
  transition: filter 1s;
}

.button-action.success {
  background: var(--success-dark);
}

.button-action.warn {

}

.button-action.danger {
  background: var(--danger-dark);

}

.button-action:hover {
  border: solid var(--bg-dark-2) 1px;
}

.button-action.selected {
  border: solid var(--success) 1px;
}