.backdrop {
  position: fixed;
  inset: 0;

  background: #0a11258b;
  color: var(--text);

  padding: 24px;

  z-index: 9999;
  opacity: 0;
  transition: opacity 500ms ease;
}

.backdrop.show {
  opacity: 1;
  transition: opacity 500ms ease;
}

.layout {
  background-color: var(--bg-dark-1);
  padding: 15px;
  border-radius: 5px;
}

.container {
  border-radius: 10px;
  max-width: 90%;
  min-width: 50%;
  overscroll-behavior-y: contain;
  box-shadow: 0 5px 25px rgba(0,0,0,0.5);
  letter-spacing: 1px;
  font-size: 12px;
}

