.backdrop {
  position: fixed;
  inset: 0;

  background: #0a11258b;
  color: var(--text);

  padding: 24px;

  z-index: 9999;
  opacity: 0;
  transition: opacity 250ms ease;
}

.backdrop.show {
  opacity: 1;
  transition: opacity 250ms ease;
}

.layout {
  background-color: var(--bg-dark-1);
  padding: 15px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px var(--bg-dark-3);
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subTitle {
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: .8;
}

.closeButton {
  cursor: pointer;
  padding: 10px;
}

.children hr {
  opacity: .8;
}

