.page-header-main {
  background-color: var(--bg-dark);
  color: var(--text);
  border-radius: 3px;
  text-align: center;
  /* padding: 5px; */
  letter-spacing: 3px;
}

.page-actions-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 12px;
  background-color: var(--bg-dark-2);
  margin-bottom: 5px;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease;
}

.page-actions-wrapper.open {
  max-height: 500px; /* big enough for content */
  opacity: 1;
}

.page-header-actions {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  gap: 3px;

  padding: 8px;
}

.page-header-actions button {
  /* font-size: 0.70em; */
  
}

.page-header-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 3px 8px;
  /* border-radius: 6px; */

  background: rgba(255, 255, 255, 0.05);

  font-size: 0.75rem;
  white-space: nowrap;

  border: 1px solid rgba(255,255,255,0.06);
  text-transform: uppercase;
}

.page-header-title {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;

  min-width: 0;
  padding: 3px;
}

.page-header-expander {
  /* text-align: right; */
  /* padding-right: 10px; */
  /* padding-top: 1px; */
  /* font-weight: lighter; */
  /* border-radius: 3px; */
  /* color: var(--text-opaque); */
  /* background-color: var(--bg-dark-3-opaque); */
  /* width: 100%; */
  /* cursor: pointer; */
  /* border: outset 1px var(--bg-dark-2); */
}

.page-header-expander:hover {
  filter: brightness(1.3);
}

