.validation-label-header {
  display: flex;
  justify-content: space-between;
}

.validation-label {
  font-size: 0.85rem;
  opacity: 0.6;
}

.validation-section-rule-list {
  font-size: 0.8rem;
  margin: 10px;
}

.validation-section-rule {

}

.validation-section-rule.invalid {
  opacity: 0.6;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out;
}

.validation-section-rule.valid {
  color: rgb(11, 198, 11);
  opacity: 1;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out;
}

.validation-section-rule.valid::before {
  content: '✔';
  padding-right: 10px;
}

.validation-section-rule.invalid::before {
  content: '🛇';
  padding-right: 10px;
}