.validation-label-header {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  opacity: 0.6;
  gap: 5px;
}

.validation-label {
  font-size: 0.6rem;
  align-content: center;
}

.validation-length-text {
  font-size: 0.5rem;
  align-content: center;
}

.validation-section-rule-list {
  font-size: 0.5rem;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.validation-section-rule {

}

.validation-section-rule.invalid {
  opacity: 0.6;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out;
}

.validation-section-rule.valid {
  color: var(--success);
  opacity: 1;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out;
}

.validation-section-rule.valid::before {
  content: '✔';
  padding-right: 10px;
}

.validation-section-rule.invalid::before {
  content: '🛇';
  padding-right: 10px;
}