.wrapper {
  padding: 5px;
  border: 1px solid var(--text);
  background-color: var(--bg-dark-2);
}

.children {
  margin-top: 5px;
}

.title {
  color: var(--text);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 3px;
  justify-content: center;
  align-content: center;
  text-transform: capitalize;
}

.label {
  font-size: 0.9em;
  padding: 5px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.action {
  opacity: 1;
  pointer-events: all;
}

.actionLocked {
  opacity: .5;
  pointer-events: none;
}