.title {
  margin-top: 0;

  font-size: 32px;
  letter-spacing: 1px;
}

.subtitle {
  opacity: 0.75;
  text-align: center;
}

.card {
  padding: 20px;
}

.inputSection {
  padding-top: 5px;
  padding-bottom: 5px;
}

.inputSectionItem {
  display: flex;
  gap: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-items: center;
  align-items: center;
}

.inputSectionLabel {
  text-transform: uppercase;
  min-width: 2rem;
}

.inputSectionElement {
  width: 100%;
}

.sectionClasses {
  padding: 5px;
}

.actions {
  margin-top: 10px;
  text-align: center;
}
