

.quest-item-header {
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);  
}

.quest-item-description {
  padding: 2px;
  font-size: 1.15em;
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
}

.quest-item-requirements-header {
  font-size: 1.1em;
  font-weight: bolder;
  padding: 2px;
  letter-spacing: 1.5px;
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
}

.quest-item-requirements-list {
  padding: 2px;
}

.quest-item-requirements-item {
  padding: 2px;
}

.quest-item-requirements-item.completed {
  text-decoration: line-through;
}

.quest-item-date {
  font-size: 14px;
  font-weight: 400;
}

.quest-groups {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition: 
    max-height 0.4s ease,
    opacity 0.3s ease;
}

.quest-groups.open {
  max-height: fit-content; /* set bigger than expected content */
  opacity: 1;
}