:root {
  --bg-dark-1: #111111;
  --bg-dark-2: #2a2a2a;
  --bg-dark-3: #424242;

  --text: #e6e2d3;
  --danger: #f02828;
  --danger-dark: #a51b1b;
  --success: rgb(11, 198, 11);
  --success-dark: rgb(9, 116, 9);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0 0.2rem;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  background: var(--bg-dark-1);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
