.history-main {
  overflow: auto;
  margin: 0px 0 5px 0;
  padding: 12px 12px;
  /* font-size: 12px; */
  word-wrap: break-word;
  border-radius: 0 0 6px 6px;
  height: fit-content;
  opacity: 0;
  animation: appear 1s ease-in forwards;
  border: outset var(--blue-sd-light);
  border-width: 0px 1.5px 1.5px 1.5px;
  background: linear-gradient(to right, 
    var(--bg-dark),
    var(--bg-dark-2),
    var(--bg-dark-3),
    var(--blue-sd-darker),
    var(--bg-dark-3),
    var(--bg-dark-2),
    var(--bg-dark)
  );
  text-shadow:
  0 0 5px var(--blue-sd)
  ,0 0 5px var(--blue-sd-darker)
  ,0 0 7px var(--blue-sd-dark)
  ,0 0 2px var(--blue-sd)
  ,0 0 7px var(--blue-sd-darker)
  ,0 0 5px var(--blue-sd-dark)
  ,0 0 5px var(--blue-sd);
}

.history-title {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  padding: 6px;
  border-radius: 6px 6px 0 0;
  border: outset var(--blue-sd-darker);
  border-width: 3px 1px 2px 1px;
  cursor: pointer;

  background: linear-gradient(to right, 
    var(--blue-sd-dark),
    var(--blue-sd-light),
    var(--blue-sd),
    var(--blue-sd-dark),
    var(--blue-sd-darker),
    var(--blue-sd-darker),
    var(--blue-sd-dark),
    var(--blue-sd-darker),
    var(--blue-sd-darker),
    var(--blue-sd-dark),
    var(--blue-sd),
    var(--blue-sd-light),
    var(--blue-sd-dark)
  );
  
  animation: fade 2s ease-in-out infinite;
  transition: 
    transform 0.2s ease,
    opacity 0.2s ease,
    filter 0.8s ease;

  transform: scale(1);
  position: relative; 
  transform: scale(1); /* base state */
  z-index: 0;
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
  color: var(--text)
}

.history-items {

  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  
  max-width: 550px;
  gap: 5px;
}

.history-item {
min-width: fit-content;

  letter-spacing: 1px;
  padding: 7px;
  border: ridge var(--gold-dark) 4px;
  border-radius: 3px;
  
  text-shadow:
  0 0 3px var(--blue-sd)
  ,0 0 1px var(--text)
  ,0 0 3px var(--blue-sd)
  ,0 0 1px var(--text)
  ,0 0 3px var(--blue-sd)
  ,0 0 1px var(--text)
  ,0 0 3px var(--blue-sd);
  
  background:
    radial-gradient(circle at center, rgba(255, 255, 255, 0.24), rgba(72, 66, 0, 0.628) 5%, rgba(2, 59, 133, 0.6) 45%, transparent 50%),
    linear-gradient(to right, 
    var(--blue-sd-dark),
    var(--blue-sd-light),
    var(--blue-sd),
    var(--blue-sd-dark),
    var(--blue-sd-darker),
    var(--blue-sd-darker),
    var(--blue-sd-dark),
    var(--blue-sd-darker),
    var(--blue-sd-darker),
    var(--blue-sd-dark),
    var(--blue-sd),
    var(--blue-sd-light),
    var(--blue-sd-dark)
  );
  
  opacity: 75%;
  

  transform: scale(1); /* base state */
  transition: transform 0.8s ease, filter 0.8s ease,
  opacity 1s ease;
  animation: fade 1s ease-in-out infinite;
  position: relative; /* 👈 REQUIRED for z-index to work */
  z-index: 0;
  color: var(--text);
}

.history-item:hover {
  transform: scale(1.02); /* 👈 smooth "grow" */
  filter: brightness(1.1);
  cursor: pointer;
  opacity: 1;
  z-index: 10; /* 👈 bring to front */
}

.history-item-header {
  text-align: center;
  font-size: 1.1em;
  
}

.history-description {
  text-align: center;
  word-wrap: break-word;
  max-width: 550px;
}