

.adv-g-clerk-content {
  padding: 7px;
  border: solid 1px;
  border-radius: 6px;
  background-color: var(--blue-sd-dark);
}

.adv-g-clerk-content div {
  padding: 5px;
}

.adv-g-clerk-content-text {

}

.adv-g-clerk-content-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}