:root {
  --bg: #afafaf;
  --bg-dark: #1b1b1b;
  --bg-dark-2: #424242;
  --bg-dark-3: #555555;
  --bg-dark-3-opaque: #55555536;
  --gold: #c9a227;
  --gold-dark: #9f7f1c;
  --green-dark: #225622;
  --green-success: #1e8119;
  --green-success-2: #39eb2f;
  --danger: #8b1e1e;
  --danger-light: #f02828;
  --red: #580707;
  --orange-dark: rgb(171, 111, 0);
  --text: #e6e2d3;
  --text-opaque: #e6e2d38c;
  --text-dark: #212121;
  --line-opaque: #d7e6d300;
  --input-text: #e6e2d3;
  --label: rgba(0, 0, 0, 0.747);
  --label-dark: rgba(170, 170, 170, 0.747);
  --border: #7e7e7e;
  --blue-sd-lighter: #3b95f5;
  --blue-sd-light: #3484d8;
  --blue-sd: #2a71bc;
  --blue-sd-dark: #1e3a8a;
  --blue-sd-darker: #152654;
  --cool-bg: radial-gradient(circle at center,
      var(--text) 0%,
      var(--text) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-dark),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      rgba(255, 215, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(135deg, #3b82f6, #1e3a8a);
  --cool-bg-2: radial-gradient(circle at center,
      var(--bg-dark) 0%,
      var(--bg-dark) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-dark),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      rgba(255, 215, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(135deg, #3b82f6, #1e3a8a);
}

@keyframes fade {
  0% { background-position: top; }
  50% { background-position: bottom; }
  100% { background-position: top; }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes barelyAppearDisappear {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
* {
  box-sizing: border-box;
}

/* 
body {
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: height 0.4s;
  background:
    radial-gradient(circle at center, var(--text) 0%, var(--text) 10%, rgba(0, 0, 0, 0.6) 100%, transparent 60%),
    radial-gradient(circle at 20% 20%, var(--green-dark), transparent 40%), 
    radial-gradient(circle at 80% 80%, rgba(255, 215, 0, 0.4), transparent 40%),
    linear-gradient(135deg, #3b82f6, #1e3a8a); 
  
  background-size: 100% 200%;
  
} */
html, body, #root {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  width: 100%;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  background: var(--cool-bg);

  overflow-x: hidden;
}
/* body {
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

  min-height: 100vh;

  background: var(--cool-bg);
} */

.reveal {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 1.5s ease, transform 0.6s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap.gap-1 {
  gap: 5px;
}

.flex-wrap.gap-2 {
  gap: 10px;
}

.app-module {

  border-radius: 6px;
}

.app-module-title {
  padding-top: 7px;
  padding-bottom: 7px;
  
  text-align: center;
  color: var(--text);
  background-color: var(--bg-dark);
  font-size: 1.3em;
}

button {
  all: unset;
  text-align: center;
  padding: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 3px;
  border: solid var(--bg-dark-2) 2px;
  background-color: var(--blue-sd);
  color: var(--text);
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
}

button.hash-nav {
  text-shadow: 0 0 5px var(--bg-dark) !important;
  border: solid var(--text) 1px!important;
  background-color: var(--bg-dark)!important;
  color: var(--text)!important;
  font-size: 10px;
  padding: 3px;
  width: 80px;
}

button.expander {
  text-shadow: 0 0 5px var(--text);
  border: solid var(--bg-dark-3) 2px;
  background-color: var(--bg-dark);
  color: var(--text);
}

button.confirm {
  background-color: var(--green-dark);
}

button.disabled {
  pointer-events: none;
  opacity: 40%;
  text-shadow: 0 0 5px var(--bg-dark) !important;
  border: solid var(--bg-dark-3) 2px!important;
  background-color: var(--gold)!important;
  color: var(--bg-dark)!important;
}

button.disabled:hover {
  filter: unset;
  cursor: not-allowed;
}

button.danger {
  border: solid var(--text) 2px !important;
  background-color: var(--danger) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
}

button.success {
  border: solid var(--text) 2px !important;
  background-color: var(--green-success) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
}

button.success-blink {
  border: solid var(--text) 2px !important;
  background-color: var(--green-success) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
  animation: barelyAppearDisappear 3s ease-in-out infinite;
}

button.yellow {
  text-shadow: 0 0 5px var(--bg-dark) !important;
  border: solid var(--bg-dark-3) 2px!important;
  background-color: var(--gold)!important;
  color: var(--bg-dark)!important;
}

button.yellow-blink {
  text-shadow: 0 0 5px var(--bg-dark) !important;
  border: solid var(--bg-dark-3) 2px!important;
  background-color: var(--gold)!important;
  color: var(--bg-dark)!important;
  text-shadow: 0 0 5px var(--text) !important;
  filter: brightness(1.1);
  animation: barelyAppearDisappear 5s ease-in-out infinite;
}

button.basic {
  text-shadow: 0 0 5px var(--text);
  border: solid var(--bg-dark-3) 2px;
  background-color: var(--bg-dark);
  color: var(--text);
}


button:hover {
  filter: brightness(1.2);
  animation: none;
}

/* input[type='text'] {
  all: unset;
  background-color: var(--blue-sd-dark);
  padding: 6px;
  border-radius: 3px;
  font-size: 0.9em;
  color: var(--input-text);
}

input[type='text']::placeholder {
  color: var(--text);
  font-size: 0.7em;
}

.form-label {
  color: var(--text);
} */

.description {
  font-size: 0.9em;
  padding-bottom: 8px;
  letter-spacing: 1.5px;
}

/* select {
  font: inherit;
  letter-spacing: 1.5px;
  background-color: var(--bg-dark-3);
  padding: 6px;
  border-radius: 3px;
  font-size: 0.8em;
  color: var(--input-text);
} */

.header-1 {
  background-color: var(--bg-dark);
  color: var(--text);
  border-radius: 3px;

  text-align: center;
  color: #fff;
  padding: 5px;
  text-shadow:
  0 0 1px #fff
  ,0 0 2px #d3d3d3
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark)
  ;
  letter-spacing: 3px;
}

.header-2 {
  cursor: pointer;
  background-color: var(--bg-dark-2);
  color: var(--text);
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 5px;
  text-shadow:
  0 0 1px #fff
  ,0 0 2px #ffffff
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark-2)
  ;
  letter-spacing: 3px;
}

.page-main {
  
}

/* .page-modules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, max-content));
} */

.page-modules {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.page-modules-section {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 450px;
}

.page-sections {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  justify-content: center;
  gap: 5px;
  font-size: 0.75em;
}

.page-section {
  padding: 5px;
  border: solid 1px var(--bg-dark-2);
  border-radius: 3px;
  box-shadow:
  0 0 1px var(--bg-dark)
  ,0 0 2px var(--bg-dark-2)
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark-3)
  ;
  letter-spacing: 3px;
}

.page-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  gap: 5px;
  font-size: 0.8em;
}

.page-actions button {
  font-size: 0.75em;
  background-color: var(--bg-dark-3);
}

.status {
  background-color: var(--blue-sd-darker);
  color: var(--text);
  width: 85px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  border: outset 2px;
  border-color: var(--blue-sd-darker);
}

.status.inprogress {
  background-color: var(--gold);
  color: var(--text);
  text-shadow: 0 1 5px var(--bg-dark);
}

.status.complete {
  background-color: var(--green-dark);
  color: var(--text);
}

ul {
  all: unset;
}

ul li {
  all: unset;
  padding: 3px;
}

.foot-note {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.foot-note.danger {
  font-weight: 600;
  color: var(--danger-light);
  text-shadow: 0 0 6px rgba(255, 60, 60, 0.45);
}

.discussion-text {
  padding: 5px;
}

.discussion-section {
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
}

.discussion-section.open {
  opacity: 1;
  transition: opacity 1s ease;
}

.adv-g-highlight {
  color: var(--yellow);
  font-weight: bold;
  text-shadow: 0 0 4px rgba(255,255,255,0.25);
}

/* MAIN SCREEN LAYOUT */

.app-screen-layout {
  padding: 5px;
  background: var(--bg-dark);
  display: flex;
  gap: 5px;

  height: 90.5vh;      /* 👈 KEY */
  overflow: hidden;   /* 👈 prevents page scroll */

  align-items: stretch;
}

/* LEFT COLUMN */

.app-screen.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  position: sticky;
  top: 10px;
  max-width: 350px;
}

/* RIGHT COLUMN */

.app-screen.right {
  flex: 1;
  height: 100%;
  min-width: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Ensure children don't overflow */

.app-screen > div {
  min-width: 0;
}
.character-mini-bar-section {
  display: none;
}
/* MOBILE */

@media (max-width: 1100px) {
  .app-screen-layout {
    flex-direction: column;
  }

  .app-screen.left {
    display: none;   /* 👈 completely remove it */
  }

  .app-screen.right {
    width: 100%;
  }
  .character-mini-bar-section {
    display: block;
  }
}