:root {
  --bg: #afafaf;
  --bg-dark: #1b1b1b;
  --bg-dark-2: #424242;
  --bg-dark-3: #555555;
  --bg-dark-3-opaque: #55555536;
  --gold: #c9a227;
  --gold-dark: #9f7f1c;
  --green-dark: #225622;
  --green-success: #1e8119;
  --danger: #8b1e1e;
  --red: #580707;
  --orange-dark: rgb(171, 111, 0);
  --text: #e6e2d3;
  --text-opaque: #e6e2d38c;
  --text-dark: #212121;
  --input-text: #e6e2d3;
  --label: rgba(0, 0, 0, 0.747);
  --label-dark: rgba(170, 170, 170, 0.747);
  --border: #7e7e7e;
  --blue-sd-light: #3484d8;
  --blue-sd: #2a71bc;
  --blue-sd-dark: #1e3a8a;
  --blue-sd-darker: #152654;
}

@keyframes fade {
  0% { background-position: top; }
  50% { background-position: bottom; }
  100% { background-position: top; }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes barelyAppearDisappear {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
* {
  box-sizing: border-box;
}

/* 
body {
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: height 0.4s;
  background:
    radial-gradient(circle at center, var(--text) 0%, var(--text) 10%, rgba(0, 0, 0, 0.6) 100%, transparent 60%),
    radial-gradient(circle at 20% 20%, var(--green-dark), transparent 40%), 
    radial-gradient(circle at 80% 80%, rgba(255, 215, 0, 0.4), transparent 40%),
    linear-gradient(135deg, #3b82f6, #1e3a8a); 
  
  background-size: 100% 200%;
  
} */

body {
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  min-height: 100vh;

  background:
    radial-gradient(circle at center,
      var(--text) 0%,
      var(--text) 10%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 60%
    ),
    radial-gradient(circle at 20% 20%,
      var(--green-dark),
      transparent 40%
    ),
    radial-gradient(circle at 80% 80%,
      rgba(255, 215, 0, 0.4),
      transparent 40%
    ),
    linear-gradient(135deg, #3b82f6, #1e3a8a);

  background-size: cover;

  background-attachment: fixed;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap.gap-1 {
  gap: 5px;
}

.flex-wrap.gap-2 {
  gap: 10px;
}

button {
  all: unset;
  text-align: center;
  padding: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  border: solid var(--bg-dark-2) 2px;
  background-color: var(--blue-sd);
  color: var(--text);
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
}

button.confirm {
  background-color: var(--green-dark);

}

button.disabled:hover {
  filter: unset;
  cursor: not-allowed;
}

button.danger {
  border: solid var(--text) 2px !important;
  background-color: var(--danger) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
}

button.success {
  border: solid var(--text) 2px !important;
  background-color: var(--green-success) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
}

button.success-blink {
  border: solid var(--text) 2px !important;
  background-color: var(--green-success) !important;
  color: var(--text) !important;
  text-shadow: 0 0 5px var(--text) !important;
  animation: barelyAppearDisappear 1s ease-in-out infinite;
}

button.yellow {
  text-shadow: 0 0 5px var(--bg-dark) !important;
  border: solid var(--bg-dark-3) 2px!important;
  background-color: var(--gold)!important;
  color: var(--bg-dark)!important;
}

button.basic {
  text-shadow: 0 0 5px var(--text);
  border: solid var(--bg-dark-3) 2px;
  background-color: var(--bg-dark);
  color: var(--text);
}


button:hover {
  filter: brightness(1.2);
  animation: none;
}

input[type='text'] {
  all: unset;
  background-color: var(--blue-sd-dark);
  padding: 6px;
  border-radius: 3px;
  font-size: 0.9em;
  color: var(--input-text);
}

input[type='text']::placeholder {
  color: var(--text);
  font-size: 0.7em;
}

.form-label {
  color: var(--text);
}

.description {
  font-size: 0.9em;
  padding-bottom: 8px;
  letter-spacing: 1.5px;
}

select {
  font: inherit;
  letter-spacing: 1.5px;
  background-color: var(--blue-sd-dark);
  padding: 6px;
  border-radius: 3px;
  font-size: 0.8em;
  color: var(--input-text);
}

.header-1 {
  background-color: var(--bg-dark);
  color: var(--text);
  border-radius: 3px;

  text-align: center;
  color: #fff;
  padding: 5px;
  text-shadow:
  0 0 1px #fff
  ,0 0 2px #d3d3d3
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark)
  ;
  letter-spacing: 3px;
}

.header-2 {
  cursor: pointer;
  background-color: var(--bg-dark-2);
  color: var(--text);
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 5px;
  text-shadow:
  0 0 1px #fff
  ,0 0 2px #ffffff
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark-2)
  ;
  letter-spacing: 3px;
}

.page-main {
  padding: 2px;
}

/* .page-modules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, max-content));
} */

.page-modules {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 450px), 1fr)
  );


  width: 100%;
  align-items: start;
}

.page-modules-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;
}

.page-sections {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  justify-content: center;
  gap: 5px;
  font-size: 0.75em;
}

.page-section {
  padding: 5px;
  border: solid 1px var(--bg-dark-2);
  border-radius: 3px;
  box-shadow:
  0 0 1px var(--bg-dark)
  ,0 0 2px var(--bg-dark-2)
  /* ,0 0 15px #FFD700
  ,0 0 20px #FFD700
  ,0 0 25px #FFD700
  ,0 0 30px #FFD700 */
  ,0 0 3px var(--bg-dark-3)
  ;
  letter-spacing: 3px;
}

.page-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  gap: 5px;
  font-size: 0.8em;
}

.page-actions button {
  font-size: 0.75em;
  background-color: var(--bg-dark-3);
}

.status {
  background-color: var(--blue-sd-darker);
  color: var(--text);
  width: 85px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  border: outset 2px;
  border-color: var(--blue-sd-darker);
}

.status.inprogress {
  background-color: var(--gold);
  color: var(--text);
  text-shadow: 0 1 5px var(--bg-dark);
}

.status.complete {
  background-color: var(--green-dark);
  color: var(--text);
}

ul {
  all: unset;
}

ul li {
  all: unset;
  padding: 3px;
}
