
.nav {
  display: flex;
  background: var(--blue-sd-dark);
  color: var(--text);
  padding: 10px;
  box-shadow: 0 2px 5px #0000001a;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 98;
}

.nav-item {
  cursor: pointer;
  height: 100%;
  text-shadow:
  0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 7px var(--bg-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--bg-dark)
  ,0 0 5px var(--bg-dark)
  ,0 0 5px var(--bg-dark);
  transform: scale(1);

  transition: transform 0.75s;

}

.nav-item.window-button {
  font-size: 0.8em;
  margin-top: 3px;
}

.nav-item.active {
  text-shadow:
  0 0 5px var(--gold)
  ,0 0 5px var(--gold-dark)
  ,0 0 7px var(--gold-dark)
  ,0 0 2px var(--text)
  ,0 0 7px var(--gold-dark)
  ,0 0 5px var(--gold-dark)
  ,0 0 5px var(--gold);
}

.nav-item:hover {
  filter: brightness(1.5);
  transform: scale(1.06);

}

.nav-sub-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  background: var(--blue-sd-dark);
  border-top: 1px solid var(--blue-sd);
  color: var(--text);
  font-size: smaller;

  box-shadow: 0 2px 5px #0000001a;

  position: sticky;
  top: 39px;
  z-index: 98;

  overflow: hidden;

  /* closed state */
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;

  /* transition: */
    /* max-height 0.5s, */
    /* opacity 0.5s ease, */
    /* padding-top 0.5s ease, */
    /* padding-bottom 0.5s ease; */
}

.nav-sub-items.open {
  max-height: 200px; 
  opacity: 1;

  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-divider {
  color: var(--blue-sd);
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamburger {
  display: none;
  margin-left: auto;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

.mobile-menu {
  position: fixed;
  inset: 0;

  background: var(--blue-sd-dark);

  z-index: 999;

  display: flex;
  flex-direction: column;

  padding: 15px;

  gap: 7px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-menu.open {
  transform: translateX(0%);
}

.mobile-menu-close {
  align-self: flex-end;
  color: var(--text);
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.mobile-menu-title {
  font-size: 1.2rem;
  /* font-weight: bold; */
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: solid 1px var(--text);
}

/* MOBILE */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    align-items: center;
  }

  .nav-sub-items {
    display: none;
  }

  .nav-item {
    cursor: pointer;
    color: var(--text);
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
    background-color: var(--blue-sd-darker);
    border-radius: 3px;
  }
}