.rail {
  position: fixed;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 10px;

  pointer-events: none;

  opacity: 0;

  transition:
    transform 1500ms cubic-bezier(.22, 1, .36, 1)  ,
    opacity 1500ms ease;
}

.left {
  top: 10px;
  left: 10px;

  transform: translateX(-150%);
  
}

.right {
  top: 10px;
  right: 10px;

  transform: translateX(150%);
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.contextButton {
  width: 2.75rem;
  height: 36px;

  border: 1px solid var(--text);
  border-radius: 50%;

  background: var(--bg-dark-2);
  color: var(--text);

  cursor: pointer;

  pointer-events: all;

  filter: brightness(1);

  transition: filter 250ms ease-in;
}

.contextButton:hover {
  filter: brightness(1.2);
}

.contextButton:hover .icon {
  transform: rotate(90deg);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  margin-bottom: 3px;

  transition: transform 1s ease;
}

.iconNoRotate {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .left {
    top: 10px;
    left: 10px;
  }

  .right {
    top: 10px;
    right: 10px;
  }
}