.history-main {
  overflow: auto;
}

.history-items {
  background-color: var(--bg-dark); 
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  gap: 5px;
}

.history-item {
  /* padding: 5px;
  margin-top: 8px;
  border-radius: 3px;
  background-color: var(--bg-dark-2);
  color: var(--text); */
  font-size: smaller;  
  letter-spacing: 0px;
  padding: 10px;
  border: solid var(--gold-dark) 5px;
  border-radius: 3px;
  background-color: #ceba8b;
  color: var(--bg-dark);
  opacity: 80%;
    transition: 
    transform 0.2s ease,
    filter 0.2s ease,
    opacity 0.2s ease;

  transform: scale(1); /* base state */
  transition: transform 0.2s ease, filter 0.2s ease;
  position: relative; /* 👈 REQUIRED for z-index to work */
  z-index: 0;
}

.history-item:hover {
  filter: brightness(1.1);
  cursor: pointer;
  opacity: 1;
  z-index: 10; /* 👈 bring to front */
  animation: unset;
}

.history-item-header {
  text-align: center;
  font-size: 1.1em;
}

.history-description {
  text-align: center;
  word-wrap: break-word;
  max-width: 550px;
}